{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.reduction.edit.head.meta.title'|trans }}{% endblock %}

{% block body_id 'admin-reduction-edit' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1>{{ 'admin.reduction.edit.body.h1'|trans }}</h1>

                    {{ include('reduction/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('app_reduction_index') }}">{{ 'link.reduction.index'|trans }}</a>

                    {{ include('admin/reduction/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
