{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.user.edit.head.meta.title'|trans }}{% endblock %}

{% block body_id 'admin-user-edit' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1>{{ 'admin.user.edit.body.h1'|trans }}</h1>

                    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}
                    {{ include('admin/user/_form_change_password.html.twig') }}

                    <a href="{{ path('app_admin_user_index') }}">{{ 'link.admin.user.index'|trans }}</a>

                    {{ include('admin/user/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
