{% extends 'base.html.twig' %}

{% block description 'login.head.meta.description'|trans %}

{% block og_title 'login.head.meta.title'|trans %}
{% block og_description 'login.head.meta.description'|trans %}

{% block title 'login.head.meta.title'|trans %}

{% block content_id 'login' %}
{% block content -%}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md d-none d-md-block gendarmerie-background"></div>
            <div class="col-md text-center vertical-center">
                <div class="p-3">
                    <img class="mb-3" src="{{ asset('assets/images/gendarmerie-logo.png') }}" alt="Gendarmerie Logo">
                    <h1 class="font-weight-bold">{{ 'login.body.h1'|trans }}</h1>
                </div>
                <form class="p-md-4" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="input-group mb-3">
                        <label for="inputUsername" class="d-none">{{ 'login.form.username.label'|trans }}</label>
                        <input type="text" class="form-control bg-grey-opaque" value="{{ username }}" name="username" id="inputUsername" placeholder="{{ 'login.form.username.placeholder'|trans }}" required>
                    </div>

                    <div class="input-group mb-3">
                        <label for="inputPassword" class="d-none">{{ 'login.form.password.label'|trans }}</label>
                        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="{{ 'login.form.password.placeholder'|trans }}" required autofocus>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="form-group form-check">
                        <input type="checkbox" id="remember_me" class="form-check-input" name="_remember_me" checked>
                        <label for="remember_me" class="form-check-label font-weight-light">{{ 'login.form.remember_me'|trans }}</label>
                    </div>

                    <button class="btn btn-sm btn-dark" type="submit">{{ 'login.form.submit'|trans }}</button>

                    <div class="pt-3">
                        <small class="text-muted">{{ 'login.form.subtitle'|trans }}</small>
                    </div>
                </form>
                <a href="{{ path('app_index') }}" title="{{ 'home.link.back.title'|trans }}"><i class="fas fa-arrow-left"></i> {{ 'home.link.back'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
