{% extends 'base.html.twig' %}

{% block description 'contact.head.meta.description'|trans %}

{% block og_title 'contact.head.meta.title'|trans %}
{% block og_description 'contact.head.meta.description'|trans %}

{% block title 'contact.head.meta.title'|trans %}

{% block content_id 'contact' %}
{% block content -%}
    <section class="bg-light">
        <div class="container mt-5 pb-5 pt-5">
            <div class="row pb-5 pt-5">
                <div class="col-md">
                    <h1 class="font-weight-bold mb-5">{{ 'contact.body.h1'|trans }}</h1>
                    {{ form_start(form) }}

                    {{ form_row(form.name, { 'attr': { 'minlength': 2, 'maxlength': 32 } }) }}
                    {{ form_row(form.email,  { 'attr': { 'minlength': 6, 'maxlength': 64 } }) }}
                    {{ form_row(form.subject,  { 'attr': { 'minlength': 6, 'maxlength': 128 } }) }}
                    {{ form_row(form.message, { 'attr': { 'minlength': 12, 'maxlength': 1024, 'rows': 5 } }) }}

                    <div class="mb-3 pt-4">
                        <button class="btn btn-sm btn-dark text-white" type="submit"><i class="fas fa-paper-plane"></i>&nbsp;{{ 'btn.send'|trans }}</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
