{% extends 'base.html.twig' %}

{% block description %}{{ 'dashboard.head.meta.description'|trans }}{% endblock %}
{% block title %}{{ 'dashboard.head.meta.title'|trans }}{% endblock %}

{% block body_id 'dashboard' %}

{% block body %}
    <section>

        {% include 'default/_flash_messages.html.twig' %}

        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1><i class="fab fa-galactic-republic"></i> {{ 'dashboard.body.h1'|trans }}</h1>
                    <ul>
                        <li><a href="{{ path('app_logout') }}">{{ 'link.logout'|trans }}</a></li>
                        <li><a href="{{ path('app_reduction_index') }}">{{ 'link.reduction.index'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
