{% extends 'base.html.twig' %}

{% block description %}{{ 'index.head.meta.description'|trans }}{% endblock %}

{% block title %}{{ 'index.head.meta.title'|trans }}{% endblock %}

{% block body_id 'index' %}

{% block body %}
    <section>

        {% include 'default/_flash_messages.html.twig' %}

        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1><i class="fab fa-galactic-republic"></i> {{ 'index.body.h1'|trans }}</h1>
                    {% if is_granted('ROLE_ADMIN') %}
                        <ul>
                            <li><a href="{{ path('app_admin_index') }}">{{ 'link.admin.index'|trans }}</a></li>
                        </ul>
                    {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                        <ul>
                            <li><a href="{{ path('app_default_dashboard') }}">{{ 'link.dashboard'|trans }}</a></li>
                        </ul>
                    {% else %}
                        <ul>
                            <li><a href="{{ path('app_login') }}">{{ 'link.login'|trans }}</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
