{% extends 'base.html.twig' %}

{% block description 'index.head.meta.description'|trans %}

{% block og_title 'index.head.meta.title'|trans %}
{% block og_description 'index.head.meta.description'|trans %}

{% block title 'index.head.meta.title'|trans %}

{% block header -%}
    {{ parent() }}

    <div class="index-header-background background-gradient">
        <div class="container p-5 mt-5">
            <div class="row mt-5">
                <h1 class="font-weight-bold text-white">{{ 'index.header.h1'|trans }}</h1>
                <p class="lead text-white">{{ 'index.header.description'|trans }}</p>
                <p>
                    <a href="#article" class="btn btn-info my-2">{{ 'btn.learn-more'|trans }}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_id 'index' %}
{% block content -%}
    <section id="article" class="bg-grey">
        <div class="container p-5">
            <div class="row mt-5">
                <h2 class="w-100 text-center font-weight-bold">{{ 'index.body.article.h2'|trans }}</h2>
                <p class="w-100 text-center lead">{{ 'index.body.article.description'|trans }}</p>
            </div>
        </div>
        <div class="px-5 pb-5">
            <div class="container">
                <div class="row pb-5 mb-5">
                    <p class="card-text text-dark text-center">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light">
        <div class="container p-5">
            <div class="row mt-5">
                <h2 class="w-100 text-center font-weight-bold">{{ 'index.body.reduction.h2'|trans }}</h2>
                <p class="w-100 text-center lead">{{ 'index.body.reduction.description'|trans }}</p>
            </div>
        </div>
        <div class="album px-5 pb-5">
            <div class="container-semi-fluid">
                <div class="row pb-5">
                    {% for reduction in reductions %}
                        <div class="col-md-4">
                            <a href="{{ path('app_reduction_view', {'slug': reduction.slug}) }}">
                                <div class="card mb-4 shadow-sm">
                                    <img class="img-thumbnail" src="{{ uploaded_asset(reduction.image, 'thumbnail') }}" alt="{{ reduction.title }} Image.">
                                    <div class="card-body">
                                        <h3 class="card-title text-dark p-0 m-0"><span class="text-info">{{ reduction.brand.name }}</span> - {{ reduction.title|capitalize}}</h3>
                                        <p><small class="text-secondary">{{ 'reduction.search-results.body.creation.date'|trans }} : {{ reduction.createdAt|date('d-m-Y') }}</small></p>
                                        <p class="card-text text-secondary pt-2 pb-2">{{ reduction.description|slice(0, 64) ~ '...'}}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="badge badge-pill badge-dark">{{ reduction.categories|join(', ', 'reduction.search-results.body.subtitle.category.join'|trans) }}</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <div class="col-md-6 offset-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="lead font-weight-light text-center">
                                        {{ 'reduction.search-results.body.empty'|trans }}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
