{% extends 'base.html.twig' %}

{% block description 'index.head.meta.description'|trans %}

{% block og_title 'index.head.meta.title'|trans %}
{% block og_description 'index.head.meta.description'|trans %}

{% block title 'index.head.meta.title'|trans %}

{% block header -%}
    {{ parent() }}

    <div class="index-header-background background-gradient">
        <div class="container p-5 mt-5">
            <div class="row mt-5">
                <h1 class="font-weight-bold text-white">{{ 'index.header.h1'|trans }}</h1>
                <p class="lead text-white">{{ 'index.header.description'|trans }}</p>
                <p>
                    <a href="#article" class="btn btn-info my-2">{{ 'btn.learn-more'|trans }}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_id 'index' %}
{% block content -%}
    <section id="article" class="bg-grey">
        <div class="container p-5">
            <div class="row mt-5">
                <h2 class="w-100 text-center font-weight-bold">{{ 'index.body.article.h2'|trans }}</h2>
                <p class="w-100 text-center lead">{{ 'index.body.article.description'|trans }}</p>
            </div>
        </div>
        <div class="p-3">
            <div class="container-semi-fluid">
                <div class="row">
                    {% for article in articles %}
                        <div class="col-md p-3">
                            <h3 class="text-center font-weight-bold p-0">{{ article.title|capitalize }}</h3>
                            <p class="text-center m-0"><small class="text-secondary">{{ 'publish.date'|trans }} : {{ article.createdAt|date('d-m-Y') }}</small></p>
                            <a href="{{ path('app_article_view', {'slug': article.slug}) }}" title="{{ article.title }}">
                                <p class="card-text text-dark text-center mt-3">{{ article.summary }}</p>
                            </a>
                        </div>
                    {% else %}
                        <div class="col-md-6 offset-md-3 p-3">
                            <h3 class="lead font-weight-light text-center">{{ 'article.empty'|trans }}</h3>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mt-5 mb-5 pb-3">
                    <div class="col-md-12 text-center">
                        <a class="btn btn-sm btn-dark" href="{{ path('app_article_index') }}" title="{{ 'link.article.index.title'|trans }}">{{ 'link.article.index'|trans }}&nbsp;<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white">
        <div class="container p-5">
            <div class="row mt-5">
                <h2 class="w-100 text-center font-weight-bold">{{ 'index.body.reduction.h2'|trans }}</h2>
                <p class="w-100 text-center lead">{{ 'index.body.reduction.description'|trans }}</p>
            </div>
        </div>
        <div class="album px-5 pb-5">
            <div class="container-semi-fluid">
                <div class="row">
                    {% for reduction in reductions %}
                        <div class="col-lg-4">
                            <a href="{{ path('app_reduction_view', {'slug': reduction.slug}) }}" title="{{ reduction.title }}">
                                <div class="card mb-4 shadow-sm">
                                    <img class="img-thumbnail" src="{{ uploaded_asset(reduction.image, 'thumbnail') }}" alt="{{ reduction.title }} Image.">
                                    <div class="card-body">
                                        <h3 class="card-title text-dark p-0 m-0"><span class="badge badge-lg badge-info mr-2">{{ reduction.brand.name }}</span>&nbsp;{{ reduction.title|capitalize }}</h3>
                                        <p><small class="text-secondary">{{ 'publish.date'|trans }} : {{ reduction.createdAt|date('d-m-Y') }}</small></p>
                                        <p class="card-text text-secondary pt-2 pb-2">{{ reduction.description|slice(0, 64) ~ '...'}}</p>
                                        <div class="d-flex justify-content-between align-items-center vertical-center">
                                            <p class="m-0 badge badge-lg badge-dark">{{ reduction.categories|join(', ', 'category.join'|trans) }}</p>
                                            <p class="m-0 text-right">
                                                <small class="font-weight-light text-dark">
                                                    {% if reduction.region is constant('App\\Consumer\\GeoGouvApi\\Model\\ModelEnum::REGION_INTERNATIONAL_ENDPOINT') or
                                                        reduction.region is constant('App\\Consumer\\GeoGouvApi\\Model\\ModelEnum::REGION_NATIONAL_ENDPOINT') %}
                                                        <strong>{{ reduction.region }}</strong>
                                                    {% else %}
                                                        <strong>{{ 'department'|trans }} :</strong> {{ reduction.department }}
                                                    {% endif %}
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <div class="col-md-6 offset-md-3 pb-5">
                            <div class="card p-3">
                                <h3 class="lead font-weight-light text-center">{{ 'reduction.empty'|trans }}</h3>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if reductions is not empty %}
                    <div class="row mt-5 mb-5 pb-3">
                        <div class="col-md-12 text-center">
                            <a class="btn btn-sm btn-dark" href="{{ path('app_reduction_index') }}" title="{{ 'link.reduction.index'|trans }}">{{ 'link.reduction.index'|trans }}&nbsp;<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
