{% extends 'base.html.twig' %}

{% block description 'index.head.meta.description'|trans %}

{% block og_title 'index.head.meta.title'|trans %}
{% block og_description 'index.head.meta.description'|trans %}

{% block title 'index.head.meta.title'|trans %}

{% block header -%}
    {{ parent() }}

    <div class="index-header-background background-gradient">
        <div class="container p-5 mt-5">
            <div class="row mt-5">
                <h1 class="font-weight-bold text-white">{{ 'index.header.h1'|trans }}</h1>
                <p class="lead text-white">{{ 'index.header.description'|trans }}</p>
                <p>
                    <a href="#index" class="btn btn-info my-2">{{ 'btn.learn-more'|trans }}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_id 'index' %}
{% block content %}
    <section class="bg-light">
        <div class="container p-5">
            <div class="row mt-5">
                <h2 class="w-100 text-center font-weight-bold">{{ 'index.body.h2'|trans }}</h2>
                <p class="w-100 text-center lead">{{ 'index.body.description'|trans }}</p>
            </div>
        </div>
        <div class="album px-5 pb-5">
            <div class="container">
                <div class="row pb-5">
                    {% for reduction in reductions %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="img-thumbnail" src="{{ uploaded_asset(reduction.image, 'thumbnail') }}" alt="{{ reduction.title|capitalize }} Image.">
                                <div class="card-body bg-dark text-white">
                                    <p class="card-title">{{ reduction.brand.name }}</p>
                                    <p class="card-text">{{ reduction.description|slice(0, 64) ~ '...'}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a class="btn btn-sm btn-info" href="{{ path('app_reduction_view', {'slug': reduction.slug}) }}">{{ 'link.reduction.view'|trans }}</a>
                                        <small>{{ reduction.categories|join(', ', 'index.body.reduction.subtitle.category.join'|trans) }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
