{% extends 'base_admin.html.twig' %}

{% block og_title 'admin.dashboard.head.meta.title'|trans %}
{% block title 'admin.dashboard.head.meta.title'|trans %}

{% block content_id 'admin-dashboard' %}

{% block admin_title 'admin.dashboard.body.h1'|trans %}
{% block admin_content -%}
    <div class="bg-white box-shadow border-radius pr-3 pt-3 pl-3 mt-5 mb-4">
        <div class="row">
            <div class="col-lg p-4">
                <h3 class="lead font-weight-light mb-4">{{ opinions|length }} {{ 'admin.last.opinions'|trans }}</h3>
                {% for opinion in opinions %}
                    <a href="{{ path('app_reduction_view', {'slug': opinion.reduction.slug }) }}" title="{{ opinion.reduction.title }}">
                        <div class="bg-white box-shadow border-radius pr-3 pt-3 pl-3 mb-4">
                            <div class="row p-2">
                                <div class="col-lg-12">
                                    <p class="font-weight-light text-dark">{{ opinion.comment }}</p>
                                    <p class="right text-secondary m-0">
                                        <small>
                                            {{ 'publish.date'|trans }} {{ opinion.createdAt|date('d-m-Y') }}.
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="col-lg p-4">
                <p class="p-2 text-secondary">
                    Cette deuxième collone de la section "Tableau de bord" sera remplie lors des prochaines majs (statistiques, annonces, liens utiles etc...).
                </p>
            </div>
        </div>
    </div>
{% endblock %}
