{% extends 'base.html.twig' %}

{% block og_title 'admin.dashboard.head.meta.title'|trans %}
{% block title 'admin.dashboard.head.meta.title'|trans %}

{% block content_id 'admin-dashboard' %}
{% block content %}
    <section>
        <div class="container p-5 mt-5 mb-5">
            <div class="row">
                <div class="col">
                    <h1><i class="fab fa-galactic-republic"></i> {{ 'admin.dashboard.body.h1'|trans }}</h1>
                    <ul>
                        <li><a href="{{ path('app_admin_user_index') }}">{{ 'link.admin.user.index'|trans }}</a></li>
                        <li><a href="{{ path('app_admin_brand_index') }}">{{ 'link.admin.brand.index'|trans }}</a></li>
                        <li><a href="{{ path('app_admin_category_index') }}">{{ 'link.admin.category.index'|trans }}</a></li>
                        <li><a href="{{ path('app_admin_reduction_waiting_list') }}">{{ 'link.admin.reduction.waiting-list'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
