{% extends 'base_admin.html.twig' %}

{% block og_title 'user.admin.edit.head.meta.title'|trans %}
{% block title 'user.admin.edit.head.meta.title'|trans %}

{% block stylesheets %}
    {{ parent() }}

    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet">
{% endblock %}

{% block content_id 'user-admin-edit' %}

{% block admin_title 'user.admin.edit.body.h1'|trans %}
{% block admin_content -%}
    {% import 'macro/_breadcrumb.html.twig' as macro_breadcrumb %}

    {{ macro_breadcrumb.breadcrumb({'app_admin_user_index': 'link.admin.user.index'|trans, 'app_admin_user_edit': 'link.admin.user.edit'|trans }) }}

    <div class="bg-white box-shadow border-radius pr-3 pt-3 pl-3 mb-4">
        <div class="row">
            <div class="col-lg p-4">
                {{ include('user/admin/_form.html.twig') }}
                <hr class="mt-4 mb-4">
                <div class="d-sm-inline-flex">
                    <div class="mr-2">
                        {{ include('user/admin/_delete_form.html.twig') }}
                    </div>
                    <div>
                        {{ include('user/admin/_status_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white box-shadow border-radius pr-3 pt-3 pl-3 mb-4">
        <div class="row">
            <div class="col-lg p-4">
                {{ include('user/admin/_form_change_password.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
        $('select[data-select]').select2();
    </script>
{% endblock %}
