{% extends 'base.html.twig' %}

{% block og_title 'user.admin.edit.head.meta.title'|trans %}
{% block title 'user.admin.edit.head.meta.title'|trans %}

{% block content_id 'user-admin-edit' %}
{% block content %}
    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1>{{ 'user.admin.edit.body.h1'|trans }}</h1>

                    {{ include('user/admin/_form.html.twig') }}
                    {{ include('user/admin/_form_change_password.html.twig') }}

                    <a href="{{ path('app_admin_user_index') }}">{{ 'link.admin.user.index'|trans }}</a>

                    {{ include('user/admin/_delete_form.html.twig') }}
                    {{ include('user/admin/_status_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
