{% extends 'base.html.twig' %}

{% block title 'brand.admin.index.head.meta.title'|trans %}
{% block og_title 'brand.admin.index.head.meta.title'|trans %}

{% block content_id 'brand-admin-index' %}
{% block content %}
    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1>{{ 'brand.admin.index.body.h1'|trans }}</h1>

                    <a href="{{ path('app_admin_brand_new') }}">{{ 'link.admin.brand.new'|trans }}</a>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Uuid</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>CreatedAt</th>
                            <th>UpdatedAt</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for brand in brands %}
                            <tr>
                                <td>{{ brand.id }}</td>
                                <td>{{ brand.uuid }}</td>
                                <td>{{ brand.name }}</td>
                                <td>{{ brand.description }}</td>
                                <td>{{ brand.createdAt ? brand.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ brand.updatedAt ? brand.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <a href="{{ path('app_admin_brand_edit', {'uuid': brand.uuid}) }}">{{ 'link.admin.brand.edit'|trans }}</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">{{ 'table.empty'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
