<div class="row">
    <div class="col-md-12">
        <h2 class="mt-5 mb-5 font-weight-light">{{ 'reduction.search-results.body.h2'|trans({'%count%': reductions|length}) }}</h2>
    </div>
</div>
<div class="row">
    {% for reduction in reductions %}
        <div class="col-md-12">
            <a href="{{ path('app_reduction_view', {'slug': reduction.slug}) }}">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 vertical-center">
                                <img class="img-thumbnail border-radius" src="{{ uploaded_asset(reduction.image, 'thumbnail') }}" alt="{{ reduction.title }} Image.">
                            </div>
                            <div class="col-md-9 p-3">
                                <h3 class="card-title text-dark p-0 m-0"><span class="text-info">{{ reduction.brand }}</span> - {{ reduction.title|upper }}</h3>
                                <p><small class="text-secondary">{{ 'reduction.search-results.body.creation.date'|trans }} : {{ reduction.createdAt|date('d-m-Y') }}</small></p>
                                <p class="card-text text-secondary pt-2 pb-2">{{ reduction.description|slice(0, 128) ~ '...'}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="badge badge-pill badge-dark">{{ reduction.categories|join(', ', 'reduction.search-results.body.subtitle.category.join'|trans) }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% else %}
        <div class="col-md-12">
            <div class="bg-white card text-center p-5">
                <p>
                    {{ 'reduction.search-results.body.no-result'|trans }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
