{# @todo Cut JS script in external script files #}
{% extends 'base.html.twig' %}

{% block og_title 'reduction.index.head.meta.title'|trans %}
{% block title 'reduction.index.head.meta.title'|trans %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet">
{% endblock %}

{% block content_id 'reduction-index' %}
{%- block content -%}
    <section class="container-fluid bg-white box-shadow text-center mt-5 p-5">
        <h1 class="sr-only">{{ 'reduction.index.body.h1'|trans }}</h1>
        {{ form_start(form) }}
        <div class="row text-dark lead font-weight-light p-5">
            <div class="col-lg-3 offset-lg-3">
                {{ form_row(form.method[0]) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.method[1]) }}
            </div>
        </div>
        <div class="search-bar row p-4 mb-5">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.region, { 'help': '' }) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.department, { 'help': '' }) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.municipality, { 'help': '' }) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-2 vertical-center">
                <button type="submit" class="search-btn"><i class="fas fa-search"></i> {{ 'btn.search'|trans }}</button>
            </div>
        </div>
        {{ form_end(form) }}
        <a class="btn btn-sm btn-dark" href="{{ path('app_reduction_post') }}"><i class="fas fa-plus"></i>&nbsp;{{ 'link.reduction.post'|trans }}</a>
    </section>

    <section class="bg-grey p-5">
        <div class="container mb-5">
            <div id="search-results">
                <div class="col-md-12">
                    <div class="bg-white card text-center p-5">
                        <p>
                            {{ 'reduction.index.body.search.empty'|trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
        $("#search-form").submit(function(e) {
            e.preventDefault();

            let $form = $(e.currentTarget);
            $.ajax({
                url: $form.attr('action'),
                method: 'GET',
                data: $form.serialize(),
                success: function(data) {$('#search-results').html(data);},
            });
        });
    </script>
    <script>
        $('select[data-select]').select2();

        const regionSelect = $('#search_region');
        const departmentSelect = $('#search_department');
        const municipalitySelect = $('#search_municipality');

        let hideDepartmentAndMunicipalitySelectField = () => {
            municipalitySelect.html('').append('<option value="">{{ 'region.form.geo.select.option'|trans }}</option>');
            departmentSelect.html('').append('<option value="">{{ 'region.form.geo.select.option'|trans }}</option>');
        };

        let setDataAccordingToOneField = (name, currentSelector, data) => {
            if (currentSelector === departmentSelect) {
                municipalitySelect.html('').append('<option value="">{{ 'region.form.geo.select.option'|trans }}</option>');
            }
            currentSelector.html('').append('<option value="">{{ 'region.form.geo.select.option'|trans }}</option>');
            $.each(data, (key, value) => {
                currentSelector.append('<option value="' + value + '">' + key + '</option>');
            });
        };

        let ajaxCallback = (name, selector, dataValue) => {
            $.ajax({
                url: selector.data('autocomplete-' + name + '-url'),
                type: "GET",
                dataType: "JSON",
                data: { search: dataValue },
                success: (data) => { setDataAccordingToOneField(name, selector, data); },
            });
        };

        regionSelect.change(function () {
            // If International or National is selected, hide others select fields
            ($(this).val() === 'International' || $(this).val() === 'National') ?
                hideDepartmentAndMunicipalitySelectField() : ajaxCallback('department', departmentSelect, $(this).val());
        });
        departmentSelect.change(function () { ajaxCallback('municipality', municipalitySelect, $(this).val()); });
    </script>
{% endblock %}