{% extends 'base.html.twig' %}

{% block title %}{{ 'reduction.new.head.meta.title'|trans }}{% endblock %}

{% block body_id 'reduction-new' %}

{% block body %}
    <section>

        {% include 'default/_flash_messages.html.twig' %}

        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1>{{ 'reduction.new.body.h1'|trans }}</h1>

                    {{ include('reduction/_form.html.twig') }}
                    <a href="{{ path('app_reduction_index') }}">{{ 'link.reduction.index'|trans }}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
