{# @todo Cut JS script in external script files #}
{% extends 'base.html.twig' %}

{% block og_title 'reduction.view.head.meta.title'|trans %}
{% block title 'reduction.view.head.meta.title'|trans %}


{% block content_id 'reduction-view' %}
{% block content -%}
    {% import 'macro/_breadcrumb.html.twig' as macro_breadcrumb %}
    {% import 'macro/_admin.html.twig' as macro_admin %}

    <section class="bg-white box-shadow mt-5 p-5">
        <div class="container pb-5 pt-5">
            <div class="row">
                <div class="col-lg">
                    <h1 class="font-weight-bold">{{ 'reduction.view.body.h1'|trans }}</h1>
                    {{ macro_breadcrumb.breadcrumb({'app_reduction_index': 'link.reduction.index'|trans, 'app_reduction_view': 'link.reduction.view'|trans }) }}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-sm btn-dark right mb-3" href="{{ path('app_admin_reduction_edit', {'slug': reduction.slug}) }}" title="{{ 'admin.table.edit.link.title'|trans }}"><i class="fas fa-pen"></i>&nbsp;{{ 'admin.table.edit.link'|trans }}</a>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-1 vertical-center">
                    <a href="{{ path('app_user_show', {'uuid': reduction.user.uuid}) }}" title="{{ reduction.user }} page." class="text-dark">
                        <img class="rounded-circle" src="{{ reduction.user|avatar_src }}" alt="{{ reduction.user }} avatar.">
                    </a>
                </div>
                <div class="col-lg-10 vertical-center p-4">
                    <a href="{{ path('app_user_show', {'uuid': reduction.user.uuid}) }}" title="{{ reduction.user }} page." class="text-dark">
                        <h6>{{ macro_admin.getBadge(reduction.user) }}{{ reduction.name|capitalize }}&nbsp;<small class="font-weight-light">{{ reduction.email }}</small></h6>
                        <p class="m-0"><small class="font-weight-light">{{ 'publish.date'|trans }} : {{ reduction.createdAt|date('d-m-Y') }}</small></p>
                    </a>
                </div>
            </div>

            <hr class="mt-4 mb-4">

            <div class="row">
                <div class="col-lg-5 text-center text-lg-left">
                    <img class="img-thumbnail border-radius" src="{{ uploaded_asset(reduction.image, 'thumbnail') }}" alt="{{ reduction.title }} Image.">
                </div>
                <div class="col-lg-7 pt-5 pt-lg-0">
                    <div class="d-sm-inline-flex mb-3">
                        <div class="mr-2 vertical-center">
                            <p class="badge badge-lg badge-info m-0">{{ reduction.brand.name }}</p>
                        </div>
                        <div class="vertical-center">
                            <h2 class="font-weight-bold m-0">{{ reduction.title|capitalize }}</h2>
                        </div>
                    </div>
                    <p class="m-0">
                        <small class="font-weight-light">
                            {% if reduction.region is constant('App\\Consumer\\GeoGouvApi\\Model\\ModelEnum::REGION_INTERNATIONAL_ENDPOINT') or
                                reduction.region is constant('App\\Consumer\\GeoGouvApi\\Model\\ModelEnum::REGION_NATIONAL_ENDPOINT') %}
                                <strong>{{ reduction.region }}</strong>
                            {% else %}
                                <strong>{{ 'region'|trans }} :</strong> {{ reduction.region }}
                            {% endif %}
                            {% if reduction.department %}
                                <br><strong>{{ 'department'|trans }} :</strong> {{ reduction.department }}
                            {% endif %}
                            {% if reduction.municipality %}
                                <br><strong>{{ 'municipality'|trans }} :</strong> {{ reduction.municipality }}
                            {% endif %}
                        </small>
                    </p>
                    <hr>
                    <p class="font-weight-light">{{ reduction.description|nl2br }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="badge badge-lg badge-dark">{{ reduction.categories|join(', ', 'category.join'|trans) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-grey p-md-5 p-3">
        <div class="container">
            <div class="card border-radius pr-3 pt-4 pl-3 mb-2">
                <div class="row pr-2 pl-2">
                    <div class="col-lg-12">
                        <h5 class="font-weight-light">{{ 'reduction.view.body.opinion.h5'|trans }}</h5>
                    </div>
                </div>
                <div class="row pr-2 pl-2">
                    <div class="col-lg-12">
                        {{ render(controller('App\\Controller\\Opinion\\OpinionController::commentForm', {'slug': reduction.slug})) }}
                    </div>
                </div>
            </div>

            <div id="opinion-results">
                {{ include('opinion/_opinion_results.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){"view"!==$(location).attr("href").split("/").pop()&&$("html, body").stop().animate({scrollTop:$("#opinion-results").offset().top},"fast")});

        // Catch form submit and do an Ajax request.
        $("#opinion-form").submit(function(e) {
            e.preventDefault();
            let form = $(e.currentTarget);
            ajaxRequestCallback(form.attr('action'), form.serialize());
        });

        let ajaxRequestCallback = (action, data) => {
            $.ajax({
                url: action,
                type: 'POST',
                data: data,
                success: function() {document.location.reload();},
                error: function(jqXHR) {$('#opinion-form').html(jqXHR.responseText);}
            });
        };
    </script>
{% endblock %}
