<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top justify-content-center">
    <a class="navbar-brand mr-0" href="{{ path('app_index') }}" title="{{ 'home.link.back.title'|trans }}">
        <img src="{{ asset('assets/images/gendarmerie-logo.png') }}" width="26" height="30" class="d-inline-block align-top m-1 mr-2" alt="Gendarmerie Logo">
        <img src="{{ asset('assets/images/promogend-logo.png') }}" alt="PromoGend Logo">
    </a>
    <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item {{ currentRoute is same as('app_index') ? 'active' }}">
                <a class="nav-link" href="{{ path('app_index') }}" title="{{ 'base.header.nav.home.link.title'|trans }}">{{ 'base.header.nav.home.link'|trans }} <span class="sr-only">{{ 'base.header.nav.current'|trans }}</span></a>
            </li>
            {% if is_granted('ROLE_ADMIN') -%}
                <li class="nav-item {{ 'admin' in currentRoute ? 'active' }}">
                    <a class="badge badge-pill badge-info notification-badge" href="{{ path('app_admin_reduction_waiting_list') }}" title="{{ 'link.admin.reduction.waiting-list'|trans }}">{{ unverified_reductions_number() }} <i class="fas fa-search"></i></a>
                    <a class="nav-link" href="{{ path('app_admin_dashboard') }}" title="{{ 'base.header.nav.admin.link.title'|trans }}">{{ 'base.header.nav.admin.link'|trans }}</a>
                </li>
            {% endif %}
            <li class="nav-item" {{ currentRoute is same as('app_reduction_index') ? 'active' }}>
                <a class="nav-link" href="{{ path('app_reduction_index') }}" title="{{ 'base.header.nav.reduction.link.title'|trans }}">{{ 'base.header.nav.reduction.link.title'|trans }}</a>
            </li>
            <li class="nav-item {{ currentRoute is same as('app_contact') ? 'active' }}">
                <a class="nav-link" href="{{ path('app_contact') }}" title="{{ 'base.header.nav.contact.link.title'|trans }}">{{ 'base.header.nav.contact.link'|trans }}</a>
            </li>
        </ul>
        <ul class="navbar-nav text-center">
            {% if is_granted('IS_AUTHENTICATED_FULLY') -%}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_security_logout') }}" title="{{ 'base.header.nav.logout.link.title'|trans }}">{{ 'base.header.nav.logout.link'|trans }}</a>
                </li>
            {% else -%}
                <li class="nav-item {{ currentRoute is same as('app_security_login') ? 'active' }}">
                    <a class="nav-link" href="{{ path('app_security_login') }}" title="{{ 'base.header.nav.login.link.title'|trans }}">{{ 'base.header.nav.login.link'|trans }}</a>
                </li>
            {%- endif -%}
            <li class="nav-item dropdown dropleft">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe-americas fa-1x"></i></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{ i18n_links(['fr', 'en'], app.request.attributes.get('_route'), app.request.attributes.get('_route_params'), app.request.locale) }}
                </div>
            </li>
        </ul>
    </div>
</nav>
