{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gaëtan Rolé-Dubruille">
    <meta name="description" content="{% block description 'base.head.meta.description'|trans %}">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <title>Gendarmerie - {% block title 'base.head.meta.title'|trans %}</title>

    {% block stylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}">
    <link rel="apple-touch-icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}">
</head>
<body>
<header>
    {{ i18n_links(['fr', 'en'], app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}
    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li><a href="{{ path('app_admin_index') }}">{{ 'link.admin.index'|trans }}</a></li>
        </ul>
    {% endif %}
    {% block header %}
    {% endblock %}
</header>
<div id="{% block body_id 'base'%}">
    {% block body %}{% endblock %}
</div>
<footer>
    {% block footer %}
    {% endblock %}
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
