{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
{% endblock %}

{% block content -%}
    {{ include('admin/_sidebar.html.twig', {'currentRoute': app.request.attributes.get('_route')}, with_context = false) }}

    <section id="content" class="bg-grey p-5 mb-5">
        <div class="container-fluid p-md-5 pt-5 mb-5">
            <div class="row mb-5">
                <div class="col-lg">
                    <h1 class="font-weight-bold">{% block admin_title %}{% endblock %}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    {% block admin_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/admin.min.js') }}"></script>
{% endblock %}
