{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.brand.edit.head.meta.title'|trans }}{% endblock %}

{% block body_id 'admin-brand-edit' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1>{{ 'admin.brand.edit.body.h1'|trans }}</h1>

                    {{ include('admin/brand/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('app_admin_adminbrand_index') }}">back to list</a>

                    {{ include('admin/brand/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
