{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.brand.new.head.meta.title'|trans }}{% endblock %}

{% block body_id 'admin-brand-new' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1>{{ 'admin.brand.new.body.h1'|trans }}</h1>

                    {{ include('admin/brand/_form.html.twig') }}

                    <a href="{{ path('app_admin_brand_index') }}">{{ 'link.admin.brand.index'|trans }}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
