{% extends 'base.html.twig' %}

{% block og_title 'article.index.head.meta.title'|trans %}
{% block title 'article.index.head.meta.title'|trans %}

{% block content_id 'article-index' %}
{% block content -%}
    {% import 'macro/_paginator.html.twig' as macro_paginator %}

    <section class="bg-light pb-5 pt-5 mt-5">
        <div class="container pt-5">
            <div class="row mb-5">
                <div class="col-md">
                    <h1 class="font-weight-bold">{{ 'article.index.body.h1'|trans }}</h1>
                    <p class="lead">{{ 'article.index.body.description'|trans }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    {% if paginator is empty or paginator.results is empty %}
                        <div class="card border-radius mb-4">
                            <div class="card-body text-center p-5">
                                <h3 class="lead font-weight-light">
                                    {{ 'article.empty'|trans }}
                                </h3>
                            </div>
                        </div>
                    {% else %}
                        {% for article in paginator.results %}
                            <a href="{{ path('app_article_view', {'slug': article.slug}) }}">
                                <div class="card border-radius mb-4">
                                    <div class="card-body vertical-center p-3">
                                        <h3 class="card-title text-dark p-0 m-0">{{ article.title|capitalize }}</h3>
                                        <p><small class="text-secondary">{{ 'publish.date'|trans }} : {{ article.createdAt|date('d-m-Y') }}</small></p>
                                        <p class="card-text text-secondary pt-2">{{ article.summary }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {{ macro_paginator.paginate(paginator, 'app_article_index') }}
        </div>
    </section>
{% endblock %}
