{% extends 'base.html.twig' %}

{% block og_title 'article.view.head.meta.title'|trans %}
{% block title 'article.view.head.meta.title'|trans %}


{% block content_id 'article-view' %}
{% block content -%}
    {% import 'macro/_breadcrumb.html.twig' as macro_breadcrumb %}
    {% import 'macro/_admin.html.twig' as macro_admin %}

    <section class="bg-white box-shadow mt-5 p-5">
        <div class="container pb-5 pt-5">
            <div class="row">
                <div class="col-lg">
                    <h1 class="font-weight-bold">{{ 'article.view.body.h1'|trans }}</h1>
                    {{ macro_breadcrumb.breadcrumb({'app_article_index': 'link.article.index'|trans, 'app_article_view': 'link.article.view'|trans }) }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-1 vertical-center">
                    <img class="rounded-circle" src="{{ article.user|avatar_src }}" alt="{{ article.user }} avatar.">
                </div>
                <div class="col-lg-10 vertical-center p-4">
                    <h6>{{ macro_admin.getBadge(article.user) }}{{ article.user|capitalize }}&nbsp;<small class="font-weight-light">{{ article.user.email }}</small></h6>
                    <p class="m-0"><small class="font-weight-light">{{ 'publish.date'|trans }} : {{ article.createdAt|date('d-m-Y') }}</small></p>
                </div>
            </div>

            <hr class="mt-4 mb-4">

            <div class="row">
                <div class="col-lg">
                    <h2 class="font-weight-bold">{{ article.title|capitalize }}</h2>
                    <p class="font-weight-light mt-5">{{ article.content|nl2br }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
