{% extends 'base.html.twig' %}

{% block description 'dashboard.head.meta.description'|trans %}

{% block og_title 'dashboard.head.meta.title'|trans %}
{% block og_description 'dashboard.head.meta.description'|trans %}

{% block title 'dashboard.head.meta.title'|trans %}

{% block body_id 'dashboard' %}

{% block body %}
    <div class="container p-5 mt-5 mb-5">
        <div class="row">
            <div class="col">
                <h1><i class="fab fa-galactic-republic"></i> {{ 'dashboard.body.h1'|trans }}</h1>
                <ul>
                    <li><a href="{{ path('app_logout') }}">{{ 'link.logout'|trans }}</a></li>
                    <li><a href="{{ path('app_reduction_index') }}">{{ 'link.reduction.index'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
