{% extends 'base.html.twig' %}

{% block title %}{{ 'user.show.head.meta.title'|trans }}{% endblock %}

{% block body_id 'user-show' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1>{{ 'user.show.body.h1'|trans }}</h1>

                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>Identity</th>
                            <td>{{ user.identity }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>PhoneNumber</th>
                            <td>{{ user.phoneNumber }}</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>{{ user.password }}</td>
                        </tr>
                        <tr>
                            <th>CreationDate</th>
                            <td>{{ user.creationDate ? user.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>IsActive</th>
                            <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <th>Roles</th>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <a href="{{ path('app_admin_adminuser_index') }}">{{ 'link.admin.user.index'|trans }}</a>

                    <a href="{{ path('app_admin_adminuser_edit', {'uuid': user.uuid}) }}">{{ 'link.admin.user.edit'|trans }}</a>

                    {{ include('admin/user/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
